.icon-menu
  include ../images/menu-icon.svg

.site-menu-overlay.hidden

.icon-menu-close.hidden
  include ../images/icon-close.svg

.site-menu.hidden
  ul
    li: a(href="/"
      onclick="ga('send', 'event', 'Top Menu', 'Home');").special-link Hom<span>e</span>
    li: a(href="/videos"
      onclick="ga('send', 'event', 'Top Menu', 'Videos');").special-link Video<span>s</span>
    li: a(href="/speaking"
      onclick="ga('send', 'event', 'Top Menu', 'Speaking');").special-link Speakin<span>g</span>
    li: a(href="/podcasts"
      onclick="ga('send', 'event', 'Top Menu', 'Podcasts');").special-link Podcast<span>s</span>
    li: a(href="/writings"
      onclick="ga('send', 'event', 'Top Menu', 'Writings');").special-link Writing<span>s</span>
    li: a(href="/more"
      onclick="ga('send', 'event', 'Top Menu', 'More');").special-link Mor<span>e</span>
