mixin menu(menuplace)
  li.menu-name-home: a(href="/" class="special-link" onclick="ga('send', 'event', '#{menuplace}', 'Click', 'Home');") Hom<span>e</span>
  li.menu-name-videos: a(href="/videos" class="special-link" onclick="ga('send', 'event', '#{menuplace}', 'Click', 'Videos');") Video<span>s</span>
  li.menu-name-speaking: a(href="/speaking" class="special-link" onclick="ga('send', 'event', '#{menuplace}', 'Click', 'Speaking');") Speakin<span>g</span>
  li.menu-name-podcasts: a(href="/podcasts" class="special-link" onclick="ga('send', 'event', '#{menuplace}', 'Click', 'Podcasts');") Podcast<span>s</span>
  li.menu-name-music: a(href="https://www.youtube.com/LittleMusicBoxes" class="special-link" target="_blank") Musi<span>c</span>
  //li.menu-name-writings: a(href="/writings" class="special-link" onclick="ga('send', 'event', '#{menuplace}', 'Click', 'Writings');") Writing<span>s</span>
  //li.menu-name-more: a(href="/more" class="special-link" onclick="ga('send', 'event', '#{menuplace}', 'Click', 'More');") Mor<span>e</span>


.menu-desktop.hide.d-show
  ul
    +menu('Desktop Menu')

.menu-mobile.d-hide

  .icon-menu
    include ../images/menu-icon.svg

  .site-menu-overlay.hidden

  .icon-menu-close.hidden
    include ../images/icon-close.svg

  .site-menu.hidden
    ul
      +menu('Mobile Menu')
